body {
  margin: 0;
  background: linear-gradient(
    to right,
    #d3cce3,
    #e9e4f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pageRow {
  margin-top: 40px;
}

.moving-text {
  margin-top: 66px;
}

.moving-text h1 {
  color: cadetblue;
  font-weight: 600 !important;
}
